<footer class="text-md-start bg-light text-black mt-3">
  <div>
    <ul>
      <li>Current year: <%= curent_year %></li>
      <li>Author: Vladimir Shinkevich</li>
      <li> <%= github_url(author: 'VladimirShinkevich', repo: 'Test-Guru') %> </li>
      <li><a href="https://thinknetica.com" target=_blank> Online school Thinknetica </a></li>
      <li> <%= link_to t('.feedback'), feed_back_index_path %> </li>
    </ul>
  </div>
</footer>
