<footer>
  <ul>
    <li>Current year: <%= curent_year %></li>
    <li>Author: Vladimir Shinkevich</li>
    <li> <%= github_url(author: 'VladimirShinkevich', repo: 'Test-Guru') %> </li>
    <li><a href="https://thinknetica.com" target=_blank> Online school Thinknetica </a></li>
  </ul>
</footer>
