div class="card justify-content-center mt-3 border-primary">
  <div class="col col-md-4">
	<h3> <%= t('.edit_title') %> </h3>

	<%= @answer.question.body %>

	<%= render 'form' %>
	<%= link_to t('.back_to_answer'), admin_question_path(@answer.question) %>
  </div>
</div>
